@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: 222.2 84% 4.9%;
  --primary: 210 100% 50%;
  --secondary: #c8d6ff;
  --radius: 0.625rem;
}

.dark {
  --background: #2b2a2a;
  --foreground: #d0e5ff;
  --primary: #3388ff;
  --secondary: #4f4f5a;
}

@layer components {
  .glass-panel {
    @apply bg-white/80 dark:bg-black/80 backdrop-blur-lg rounded-lg border border-white/20 dark:border-black/20 shadow-lg;
  }
}
